body{
   background: linear-gradient(#c9e4fd, whitesmoke, #c9e4fd);
   height: 100vh;
   color: #124f7b;
   font-size: 30px;
}


@font-face {
    font-family: "Pictochat";
    src: url(fonts/pictochat.otf.woff2);
}

*{
    font-family: "Pictochat";
    letter-spacing: 2px;
}

.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

#date{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#date h2{
    color: #618eb6;
}

footer{
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

hr{
    border: 1px solid #618eb6;
    margin: 10px;
}

.game-cat-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 75px;
    gap: 30px;
}

.game-list{
    padding: 10px;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.selected{
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    perspective: 900px;
}

.game-card{
    width: 400px;
    height: 400px;
    flex: 1 1 auto;
    animation: idle 5s linear infinite;
    transform-style: preserve-3d;
}

@keyframes idle {
    0% {
        transform: rotateY(0deg);
    }
    25%{
        transform: rotateY(20deg);
    }
    50%{
        transform: rotateY(0deg);
    }
    75%{
        transform: rotateY(-20deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

.game-item{
    width: 200px;
    height: 200px;
    flex: 1 1 1;
    transition: border 0.1s ease;
}

.game-item a, .game-item img{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #c9e4fd;
}

.game-card:hover, .game-item:hover{
    transform: scale(1.10);
    box-shadow: 0px 0px 25px #6f9cc5 inset;
}

.game-card img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #c9e4fd;
}

.game-card, .game-item{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 40px #6f9cc5 inset;
    border-radius: 10px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

::-webkit-scrollbar{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
    background-color: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb{
    background-color: #6f9cc5;
}

/* Styling for Left-Aside Section on Homepage */
aside{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

nav{
    border-radius: 5px;
    box-shadow: 0px 3px 10px #6f9cc5;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    background: linear-gradient(#c9e4fd, whitesmoke);
    border-bottom: 1px solid #364e70;
}

li a{
    display: block;
    color: #364e70;
    text-decoration: none;
    padding: 10px;
    transition: letter-spacing 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

li a:hover{
    background-color: #c9e4fd;
    color: whitesmoke;
    letter-spacing: 4px;
}

.titles{
    background-color: #6f9cc5;
    color: whitesmoke;
    padding: 15px;
    margin: 0%;
}

.titles #top{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.titles #bottom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gif-box{
    text-align: center;
    flex: 1 1 auto;
    transition: transform 0.1s ease;
}

.gif-box:hover{
    transform: scale(1.03) rotate(-1deg);
}

.gif-box img{
    width: 100%;
    border-radius: 5px;
    border: 3px solid #6f9cc5;
    box-shadow: 0px 3px 10px #6f9cc5;
    margin-bottom: 10px;
}

.music{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    border: 3px solid #6f9cc5;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #6f9cc5;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    padding: 20px;
    gap: 5px;
    font-size: 25px;
    justify-content: space-evenly;
}

#music-top{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.music p{
    margin: 20px;
}

.music img{
    width: 40%;
    box-shadow: 1px 1px 5px #6f9cc5;
    border-radius: 5px;
}

.music audio{
    width: 100%;
}

.music:hover{
    transform: scale(1.05) rotate(2deg);
    box-shadow: 3px 3px 15px #6f9cc5;
}

#plush{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;

}

#plush img{
    width: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}

#plush img:hover{
    transform: scale(1.10);
    cursor: pointer;
}


/* Styling for Main Section on Homepage*/
main{
    width: 50%;
}

header{
    background-color: #6f9cc5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 3px 10px #6f9cc5;
    color: whitesmoke;
    text-align: center;
}

header h1, h2{
    margin: 5px;
}

#sub-title{
    background-color: #6f9cc5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 3px 10px #6f9cc5;
    color: whitesmoke;
    padding: 10px;
    margin: 0%;
    line-height: 30px;
}

#clock{
    text-align: center;
}

.chat-box{
    flex: 1 1 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border: 3px solid #6f9cc5;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #6f9cc5;
    height: 250px;
    max-width: 100%;
    min-width: 200px;
    overflow: scroll;
    overflow-x: hidden;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.chat-box:hover{
    transform: scale(1.03);
    box-shadow: 0px 3px 15px #6f9cc5;
}

.chat-box h3{
    display: inline;
    background-color: #6f9cc5;
    color: whitesmoke;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.chat-box div, p{
    margin: 20px;
}


/* Styling for Right-Aside on Homepage*/

#right-aside h1{
    margin: 0;
}

.poster-container{
    height: 850px;
    overflow-y: hidden;
    border: 3px solid #6f9cc5;
    box-shadow: 0px 3px 10px #6f9cc5;
    border-radius: 5px;
}

.group{
    display: flex;
    flex-direction: column;
    animation: scroll 15s linear infinite;
}

.poster{
    flex: 0 0 500px;
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
    gap: 20px;
    text-align: center;
}

.poster-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-3000px);
    }

}

/*Styling for Game Page*/
#left-section, #right-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#left-section{
    width: 25%;
}

#right-section{
    width: 15%;
}

#left-section h3{
    text-align: center;
}

#main-section{
    width: 40%;
    display: flex;
    flex-direction: column;
}

#thoughts-text{
    margin: 20px;
}

.game-poster{
    width: 100%;
    height: 600px;
    background-color: #6f9cc5;
    border: 3px solid #6f9cc5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #6f9cc5;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-poster img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.game-poster:hover{
    transform: scale(1.05) rotate(-1deg);
    box-shadow: 0px 0px 15px;
}

#completion-list{
    box-shadow: 0px 0px 10px #6f9cc5;
}

#completion-list li{
    padding: 10px;
}

#notFound{
    text-align: center;
}

.grandparent{
    width: 300px;
    height: 300px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    width: 100px;
    height: 100px;
    background-color: green;
}

/*Activity Log Styling*/

.activity-log-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.activity-log-container header{
    padding: 10px;
    margin-bottom: 5px;
}

.activity-log-container #left-aside, #right-aside{
    display: flex;
    
}

.activity-log-container #left-aside{
    padding-top: 10px;
    padding-bottom: 10px;
}

#container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#currently{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#random-gif{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease;
}

#random-gif:hover{
    transform: scale(1.20) rotate(-365deg);
}

#random-gif img{
    width: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.activity-log-container #right-aside{
    padding: 10px;
    text-align: center;
}

#memes{
    border: 3px solid #6f9cc5;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #6f9cc5;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#memes:hover{
    transform: scale(1.03) rotate(2deg);
    box-shadow: 0px 3px 15px #6f9cc5;
}

#memes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    border-radius: 9px;
}

#zelda-amiibo{
    width: 100%;
    transition: transform 0.2s ease;
}

#zelda-amiibo:hover{
    transform: scale(1.05);
}

.collapsible{
    background-color: #6f9cc5;
    color: whitesmoke;
    width: 100%;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    text-align: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 3px 10px #6f9cc5;
    margin-top: 20px;
    padding: 10px;
}

.collapsible:hover{
    background-color: #618eb6;
}

.content{
    display: none;
    background-color: whitesmoke;
    border: 3px solid #618eb6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 100%;
    padding: 10px;
}

#content-text{
    line-height: 30px;
}

#content-img{
    width: 100%;
}

/*About Me Styling*/

#about-header{
    padding: 10px;
    margin-bottom: 5px;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
}

.about-container main{
    width: 40%;
}

.about-container #left-aside{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-aside #icon{
    width: 100%;
    height: 350px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 3px 10px #6f9cc5;
    background-color: #6f9cc5;
    transition: all 0.1s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#icon:hover{
    transform: scale(1.03);
}

#pfp{
    width: 75%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#profile-info{
    width: 100%;
    padding: 10px;
}

.info-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

#socials{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

.social-link{
    width: 75px;
    height: 75px;
    background-color: #618eb6;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 3px 10px #6f9cc5;
    text-align: center;
    transition: all 0.2s ease;
}

.social-link:hover{
    transform: scale(1.05);
}

#side-img{
    width: 100%;
    filter: drop-shadow(5px 5px 10px #124f7b);
    transition: all 0.2s ease;
}

#side-img:hover{
    transform: scale(1.06) rotate(2deg);
}

.about-container #right-aside{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.stat-container p{
    margin: 0%;
}

#right-aside .stat-bar{
    width: 100%;
    height: 25px;
    border: #124f7b 2px solid;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 3px 10px #6f9cc5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    padding: 2px;
}

#right-aside .stat-section{
    width: 20%;
    height: 23px;
    background-color: #618eb6;
    transition: all 0.1s ease;
}

.stat-section:hover{
    transform: scale(1.05);
}

#first{
    border-top-left-radius: 10px;
}

#last{
    border-bottom-right-radius: 10px;
}

/*My Game Page Styling*/

.game-project-container{
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    margin-top: 20px;
}

.file-section{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.file-section header{
    padding: 15px;
}

.file-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.file-wrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.file{
    width: 70%;
    height: 200px;
    background-color: #618eb6;
}

.info-section{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-info{
    background-color: whitesmoke;
    border: 3px solid #6f9cc5;
    border-radius: 5px;
    max-width: 100%;
    min-width: 200px;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#project-title{
    text-align: center;
    margin: 10px;
}

#game-info{
    width: 50%;
}

#game-img{
    width: 50%;
    height: 200px;
}