body{
   background: linear-gradient(#c9e4fd, whitesmoke, #c9e4fd);
   height: 100vh;
   color: #124f7b;
   font-size: 30px;
}


@font-face {
    font-family: "Pictochat";
    src: url(fonts/pictochat.otf.woff2);
}

*{
    font-family: "Pictochat";
    letter-spacing: 2px;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

::-webkit-scrollbar{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
    background-color: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb{
    background-color: #6f9cc5;
}

/* Styling for Left-Aside Section on Homepage */
aside{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

nav{
    border-radius: 5px;
    box-shadow: 0px 3px 10px #6f9cc5;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    background: linear-gradient(#c9e4fd, whitesmoke);
    border-bottom: 1px solid #364e70;
}

li a{
    display: block;
    color: #364e70;
    text-decoration: none;
    padding: 10px;
}

li a:hover{
    background-color: #c9e4fd;
    color: whitesmoke;
}

.titles{
    background-color: #6f9cc5;
    color: whitesmoke;
    padding: 15px;
    margin: 0%;
}

.titles #top{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.titles #bottom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gif-box{
    text-align: center;
    flex: 1 1 auto;
}

.gif-box img{
    width: 100%;
    border-radius: 5px;
    border: 3px solid #6f9cc5;
    box-shadow: 0px 3px 10px #6f9cc5;
    margin-bottom: 10px;
}

/* Styling for Main Section on Homepage*/
main{
    width: 50%;
    border-radius: 5px;
}

header{
    background-color: #6f9cc5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: whitesmoke;
    text-align: center;
}

header h1{
    margin: 5px;
}

#sub-title{
    background-color: #6f9cc5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: whitesmoke;
    padding: 10px;
    margin: 0%;
}

.chat-box{
    flex: 1 1 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border: 3px solid #6f9cc5;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #6f9cc5;
    height: 250px;
    max-width: 100%;
    min-width: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.chat-box h3{
    display: inline;
    background-color: #6f9cc5;
    color: whitesmoke;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.chat-box div{
    margin: 20px;
}


/* Styling for Right-Aside on Homepage*/

#right-aside h1{
    margin: 0;
}

.poster-container{
    height: 850px;
    overflow-y: hidden;
    border: 3px solid #6f9cc5;
    box-shadow: 0px 3px 10px #6f9cc5;
    border-radius: 5px;
}

.group{
    display: flex;
    flex-direction: column;
    animation: scroll 15s linear infinite;
}

.poster{
    flex: 0 0 500px;
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
    gap: 20px;
    text-align: center;
}

.poster-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-3000px);
    }

}