body{
    background-color: azure;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Styling for Left-Aside Section on Homepage*/
aside{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}

li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
}

li a:hover{
    background-color: whitesmoke;
}

.gif-box img{
    width: 300px;
}

/* Styling for Main Section on Homepage*/
main{
    width: 50%;
}

.chat-box{
    margin: 10px;
    background-color: cadetblue;
    border: 2px solid black;

}

.chat-box h3{
    display: inline;
    background-color: whitesmoke;
    border-right: 2px dashed black;
    border-bottom: 2px dashed black;
}


/* Styling for Right-Aside on Homepage*/
